.navbar{
    width: 100%;
    min-height: 70px;
    height: 70px;
    background-color: rgb(21,23,30);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Nosifer", cursive;
    color: red;
    cursor: default;
    position: fixed;
}